.totalNavContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.logoImgs {
  width: 40%;
}
.logoutLogoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logoutImg {
  width: 10%;
}
.logoutImg0 {
  width: 70%;
}
.navItemsContianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #e6f6ff;
  height: 60px;
  width: 100%;
  margin-top: 30px;
}
.navimgs {
  width: 25px;
}
.logoutButton {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.replaceText {
}
